<% news=paginatedNews.data %>
    <% for(let newsItem of news) { %>
        <div class="post-content">
            <div class="row">
                <div class="col-md-4">
                    <a class="post-img" href="/single/<%=newsItem.id %>"><img src="/uploads/<%=newsItem.image %>"
                            alt="<%=newsItem.title %>" /></a>
                </div>
                <div class="col-md-8">
                    <div class="inner-content clearfix">
                        <h3><a href="/single/<%=newsItem.id %>">
                                <%=newsItem.title %>
                            </a></h3>
                        <div class="post-information">
                            <span>
                                <i class="fa fa-tags" aria-hidden="true"></i>
                                <a href='/category/<%=newsItem.category.slug %>'>
                                    <%=newsItem.category.name %>
                                </a>
                            </span>
                            <span>
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <a href='/author/<%=newsItem.author._id %>'>
                                    <%=newsItem.author.fullname %>
                                </a>
                            </span>
                            <span>
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <% const date=new Date(newsItem.createdAt); const
                                    day=String(date.getDate()).padStart(2, '0' ); const
                                    month=date.toLocaleString('default', { month: 'short' }); const
                                    year=date.getFullYear(); %>
                                    <%= `${day} ${month}, ${year}` %>
                            </span>
                        </div>
                        <p class="description">
                            <%= newsItem.short_desc %>
                        </p>
                        <a class=' read-more pull-right' href="/single/<%=newsItem.id %>">read more</a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>


            <% function buildQuery (query, page) { const parmas=new URLSearchParams(query); parmas.set('page',page);
                return '?' + parmas.toString(); } %>
                <% if (paginatedNews.totalPages> 1) { %>

                    <nav>
                        <ul class="pagination">
                            <% if(paginatedNews.hasPrevPage) { %>
                                <li class="page-item">
                                    <a class="page-link"
                                        href="<%= buildQuery(query,paginatedNews.prevPage) %>">Previous</a>
                                </li>
                                <% } else { %>
                                    <li class="page-item disabled">
                                        <a class="page-link ">Previous</a>
                                    </li>
                                    <% } %>

                                        <% for(let i=1; i <=paginatedNews.totalPages; i++) { %>
                                            <li
                                                class="page-item <%= (i === paginatedNews.currentPage) ? 'active' : ''  %>">
                                                <a class="page-link" href="<%= buildQuery(query,i) %>">
                                                    <%= i %>
                                                </a>
                                            </li>
                                            <% } %>
                                                <% if(paginatedNews.hasNextPage) { %>
                                                    <li class="page-item">
                                                        <a class="page-link"
                                                            href="<%=buildQuery(query,paginatedNews.nextPage) %>">Next</a>
                                                    </li>
                                                    <% } else { %>
                                                        <li class="page-item disabled">
                                                            <a class="page-link">Next</a>
                                                        </li>
                                                        <% } %>
                        </ul>
                    </nav>

                    <% } %>