<div id="sidebar" class="col-md-4">
    <!-- search box -->
    <div class="search-box-container">
        <h4>Search</h4>
        <form class="search-post" action="/search" method="GET">
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Search .....">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-danger">Search</button>
                </span>
            </div>
        </form>
    </div>
    <!-- /search box -->
    <!-- recent posts box -->
    <div class="recent-post-container">
        <h4>Recent Posts</h4>
        <% for(let news of latestNews) { %>
            <div class="recent-post">
                <a class="post-img" href="">
                    <img src="/uploads/<%=news.image  %>" alt="" />
                </a>
                <div class="post-content">
                    <h5><a href="/single/<%=news.id %>">
                            <%=news.title %>
                        </a></h5>
                    <span>
                        <i class="fa fa-tags" aria-hidden="true"></i>
                        <a href="/category/<%=news.category.slug  %>">
                            <%=news.category.name %>
                        </a>
                    </span>
                    <span>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <% const date=new Date(news.createdAt); const day=String(date.getDate()).padStart(2, '0' );
                            const month=date.toLocaleString('default', { month: 'short' }); const
                            year=date.getFullYear(); %>
                            <%= `${day} ${month}, ${year}` %>
                    </span>
                    <a class="read-more" href="/single/<%=news.id %>">read more</a>
                </div>
            </div>
            <% } %>
    </div>
    <!-- /recent posts box -->
</div>