<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>
        <% if(settings.website_title && settings.website_title.trim() !=='' ) {%>
            <%=settings.website_title %>
                <% }else { %>
                    News
                    <% } %>
    </title>


    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/css/font-awesome.css">
    <!-- Custom stlylesheet -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- HEADER -->
    <%-include('header') %>
        <!-- /HEADER -->

        <div id="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <!-- post-container -->
                        <%- body %>
                            <!-- /post-container -->
                    </div>
                    <!-- sidebar -->
                    <%- include('partials/sidebar') %>
                        <!-- /sidebar -->
                </div>
            </div>
        </div>


        <%-include('footer') %>
</body>

</html>